.accordion-button.category-breakfast {
  color: #1abc9c;
}
.accordion-button.category-lunch {
  color: #3498db;
}
.accordion-button.category-dinner {
  color: #9b59b6;
}
.accordion-button.category-snack {
  color: #e74c3c;
}
.accordion-button.category-default {
  color: #1c1b1b;
}

.category-breakfast {
  color: #1abc9c !important;
}
.category-lunch {
  color: #3498db !important;
}
.category-dinner {
  color: #9b59b6 !important;
}
.category-snack {
  color: #e74c3c !important;
}
.category-default {
  color: #1c1b1b;
}

.accordion-button:not(.collapsed) {
  background-color: unset !important;
  color: inherit;
}
